<div class="@cd_course">
    <dl>
        <dt>1、</dt>
        <dd>
            <p class="@desc">结构化理论提高- 人际沟通!</p>
            <p class="@time">2017-03-29 18:50-03-29 21:00</p>
        </dd>
    </dl>
    <dl>
        <dt>1、</dt>
        <dd>
            <p class="@time">2017-03-29 18:50-03-29 21:00</p>
            <p class="@desc">结构化理论提高- 人际沟通!</p>
        </dd>
    </dl>
    <dl>
        <dt>1、</dt>
        <dd>
            <p class="@time">2017-03-29 18:50-03-29 21:00</p>
            <p class="@desc">结构化理论提高- 人际沟通!</p>
        </dd>
    </dl>
    <dl>
        <dt>1、</dt>
        <dd>
            <p class="@time">2017-03-29 18:50-03-29 21:00</p>
            <p class="@desc">结构化理论提高- 人际沟通!</p>
        </dd>
    </dl>
    <dl>
        <dt>1、</dt>
        <dd>
            <p class="@time">2017-03-29 18:50-03-29 21:00</p>
            <p class="@desc">结构化理论提高- 人际沟通!</p>
        </dd>
    </dl>
    <dl>
        <dt>1、</dt>
        <dd>
            <p class="@time">2017-03-29 18:50-03-29 21:00</p>
            <p class="@desc">结构化理论提高- 人际沟通!</p>
        </dd>
    </dl>
</div>
