
<%
  var path = __uri("img/xxr.png");
%>
<div class="@cd_teach">
      <div class="@teach_header">
            <span class="@teach_h"><img src="<%=path%>" alt=""></span>
            <span class="@teach_name">肖相如</span>
      </div>
      <div class="@cd_teach_info">
          北京中医药大学教授、主任医师、博士生导师、优秀主讲教师；<br />
          中国中医研究院第一位肾病学博士，<br />
          全部重点肾病专科学术带头人，<br />
          获"白求恩式的好医生"称号和"我最喜爱的教师"称号。<br />
          患者口碑相传，遍布各地。现在北京平心堂出诊，<br />
          们正预约到几个月以后。<br />
          是从名老中医肖立渭先生。肾病学大师时振声教授。<br />
          全国伤寒大家李培生教授和梅国强教授。
      </div>
</div>
